management:
  endpoints:
    web:
      exposure:
        include: "*"
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  tracing:
    enabled: true
    sampling:
      probability: 1.0 # Sample all requests
    exporter:
      zipkin:
        enabled: true
        host: localhost
        port: 9411 # Default Zipkin port

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/